<ion-toolbar><ion-title>Virtual Scroll: Variable Sizes</ion-title></ion-toolbar>

<ion-content>

  <ion-list [virtualScroll]="items" [headerFn]="headerFn">

    <ion-item-divider *virtualHeader="#header">
      Header: {{ header }}
    </ion-item-divider>

    <ion-item *virtualItem="#item">
      <span [style.fontSize]="item.fontSize">{{ item.item }}</span>
    </ion-item>

  </ion-list>

</ion-content>
