@import "../../globals.wp";
@import "./picker";

// Windows Picker
// --------------------------------------------------

$picker-wp-height:                            260px !default;
$picker-wp-border-color:                      $list-wp-border-color !default;
$picker-wp-background-color:                  $list-wp-background-color !default;

$picker-wp-toolbar-height:                    44px !default;
$picker-wp-toolbar-background-color:          $picker-wp-background-color !default;

$picker-wp-button-height:                     $picker-wp-toolbar-height !default;
$picker-wp-button-text-color:                 $link-wp-color !default;
$picker-wp-button-background-color:           transparent !default;

$picker-wp-column-padding:                    0 12px !default;

$picker-wp-option-padding:                    0 10px !default;
$picker-wp-option-text-color:                 $list-wp-text-color !default;
$picker-wp-option-font-size:                  18px !default;
$picker-wp-option-height:                     42px !default;
$picker-wp-option-offset-y:                   (($picker-wp-height - $picker-wp-toolbar-height) / 2) - ($picker-wp-option-height / 2) - 10 !default;

$picker-wp-option-selected-font-size:         24px !default;
$picker-wp-option-selected-color:             $link-wp-color !default;

$picker-highlight-opacity:                     .8 !default;


.picker-wrapper {
  height: $picker-wp-height;

  border-top: 1px solid $picker-wp-border-color;

  background: $picker-wp-background-color;
}

.picker-toolbar {
  display: flex;

  justify-content: flex-end;

  height: $picker-wp-toolbar-height;

  background: $picker-wp-toolbar-background-color;
}

.hairlines .picker-wrapper,
.hairlines .picker-toolbar {
  border-width: $hairlines-width;
}

.picker-toolbar-button {
  flex: 1;

  text-align: right;
}

.picker-toolbar-cancel {
  font-weight: normal;

  text-align: left;
}

.picker-button,
.picker-button.activated {
  margin: 0;

  height: $picker-wp-button-height;

  color: $picker-wp-button-text-color;
  background: $picker-wp-button-background-color;

  box-shadow: none;
}

.picker-columns {
  height: $picker-wp-height - $picker-wp-toolbar-height;

  perspective: 1800px;
}

.picker-col {
  padding: $picker-wp-column-padding;

  transform-style: preserve-3d;
}

.picker-prefix,
.picker-suffix,
.picker-opts {
  top: $picker-wp-option-offset-y;

  font-size: $picker-wp-option-font-size;
  line-height: $picker-wp-option-height;
  color: $picker-wp-option-text-color;

  transform-style: preserve-3d;

  pointer-events: none;
}

.picker-opts ion-button-effect {
  display: none;
}

.picker-opt {
  margin: 0;
  padding: $picker-wp-option-padding;

  width: calc(100% - 24px);

  font-size: $picker-wp-option-font-size;
  line-height: $picker-wp-option-height;

  background: transparent;

  transition-timing-function: ease-out;

  backface-visibility: hidden;

  pointer-events: auto;
}

.picker-opt .button-inner {
  transition: 200ms;
}

.picker-prefix,
.picker-suffix,
.picker-opt-selected {
  font-size: $picker-wp-option-selected-font-size;

  color: $picker-wp-option-selected-color;
}

.picker-above-highlight {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: $picker-wp-option-offset-y + 4px;

  border-bottom: 1px solid $picker-wp-border-color;

  background: linear-gradient(to bottom,
                            rgba($picker-wp-background-color, 1) 20%,
                            rgba($picker-wp-background-color, .7) 100%);

  transform: translate3d(0, 0, 90px);
}

.picker-below-highlight {
  position: absolute;
  top: $picker-wp-option-offset-y + $picker-wp-option-height - 4;
  left: 0;
  z-index: 11;

  width: 100%;
  height: $picker-wp-option-offset-y + $picker-wp-option-height;

  border-top: 1px solid $picker-wp-border-color;

  background: linear-gradient(to top,
                           rgba($picker-wp-background-color, 1) 30%,
                           rgba($picker-wp-background-color, .7) 100%);

  transform: translate3d(0, 0, 90px);
}
