@import "../../globals.core";

// Search Bar
// --------------------------------------------------


ion-searchbar {
  position: relative;
  display: flex;

  align-items: center;

  width: 100%;
}

.searchbar-icon {
  // Don't let them tap on the icon
  pointer-events: none;
}

.searchbar-input-container {
  position: relative;
  display: block;

  flex-shrink: 1;

  width: 100%;
}

.searchbar-input {
  @include appearance(none);
  display: block;

  width: 100%;

  border: 0;
  font-family: inherit;
}

.searchbar-clear-icon {
  display: none;

  margin: 0;
  padding: 0;

  min-height: 0;
}

.searchbar-has-value.searchbar-focused .searchbar-clear-icon {
  display: block;
}
