<ion-toolbar><ion-title>Virtual Scroll: Cards</ion-title></ion-toolbar>

<ion-content>

  <div [virtualScroll]="items" approxItemHeight="320px">

    <ion-card *virtualItem="#item">

      <div>
        <ion-img [src]="item.imgSrc" [height]="item.imgHeight"></ion-img>
      </div>

      <ion-item>
        <ion-avatar item-left>
          <ion-img [src]="item.imgSrc"></ion-img>
        </ion-avatar>
        <h2>{{ item.name }}</h2>
      </ion-item>

      <ion-card-content>
        {{ item.content }}
      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
