@import "../../globals.core";


// Toast
// --------------------------------------------------

$toast-width:                             100% !default;
$toast-max-width:                         700px !default;


ion-toast {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: block;

  width: $toast-width;
  height: $toast-width;
}

.toast-container {
  display: flex;

  align-items: center;

  button {
    padding: 19px 16px 17px;

    font-size: 1.5rem;
  }
}

.toast-message {
  flex: 1;
}

.toast-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay-wrapper;
  display: block;

  margin: auto;

  max-width: $toast-max-width;

  transform: translate3d(0, 100%, 0);
}
