@import "../../globals.ios";
@import "./toast";

// iOS Toast
// --------------------------------------------------

$toast-ios-text-align:                            left !default;
$toast-ios-background:                            rgba(0, 0, 0, .9) !default;
$toast-ios-border-radius:                         .65rem !default;

$toast-ios-title-color:                           #fff !default;
$toast-ios-title-font-size:                       1.4rem !default;
$toast-ios-title-padding:                         1.5rem !default;


ion-toast {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;
  display: block;

  width: $toast-width;
  height: $toast-width;
}

.toast-wrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  z-index: $z-index-overlay-wrapper;
  display: block;

  margin: auto;

  max-width: $toast-max-width;

  border-radius: $toast-ios-border-radius;

  background: $toast-ios-background;

  transform: translate3d(0, 100%, 0);
}

.toast-message {
  padding: $toast-ios-title-padding;

  font-size: $toast-ios-title-font-size;

  color: $toast-ios-title-color;
}
