<ion-toolbar>
  <ion-title>Select Item: Single Value</ion-title>
</ion-toolbar>

<ion-content class="outer-content">

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="gender" class="e2eSelectGender">
      <ion-option value="f" checked="true">Female</ion-option>
      <ion-option value="m">Male</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Gaming</ion-label>
    <ion-select [(ngModel)]="gaming" (cancel)="gamingCancel()" (change)="gamingChange($event)">
      <ion-option value="nes">NES</ion-option>
      <ion-option value="n64">Nintendo64</ion-option>
      <ion-option value="ps">PlayStation</ion-option>
      <ion-option value="genesis">Sega Genesis</ion-option>
      <ion-option value="saturn">Sega Saturn</ion-option>
      <ion-option value="snes">SNES</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Operating System</ion-label>
    <ion-select [(ngModel)]="os" interface="alert" submitText="Okay" cancelText="Nah">
      <ion-option value="dos">DOS</ion-option>
      <ion-option value="lunix">Linux</ion-option>
      <ion-option value="mac7">Mac OS 7</ion-option>
      <ion-option value="mac8">Mac OS 8</ion-option>
      <ion-option value="win3.1">Windows 3.1</ion-option>
      <ion-option value="win95">Windows 95</ion-option>
      <ion-option value="win98">Windows 98</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Notifications</ion-label>
    <ion-select [(ngModel)]="notification" interface="action-sheet" cancelText="Cancel!">
      <ion-option value="enable">Enable</ion-option>
      <ion-option value="mute">Mute</ion-option>
      <ion-option value="mute_week">Mute for a week</ion-option>
      <ion-option value="mute_year">Mute for a year</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Music</ion-label>
    <ion-select [(ngModel)]="music" [alertOptions]="musicAlertOpts">
      <ion-option>Alice in Chains</ion-option>
      <ion-option>Green Day</ion-option>
      <ion-option>Nirvana</ion-option>
      <ion-option>Pearl Jam</ion-option>
      <ion-option>Smashing Pumpkins</ion-option>
      <ion-option>Soundgarden</ion-option>
      <ion-option (select)="stpSelect()">Stone Temple Pilots</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Date</ion-label>
    <ion-select [(ngModel)]="month">
      <ion-option value="01">January</ion-option>
      <ion-option value="02">February</ion-option>
      <ion-option value="03">March</ion-option>
      <ion-option value="04">April</ion-option>
      <ion-option value="05">May</ion-option>
      <ion-option value="06">June</ion-option>
      <ion-option value="07">July</ion-option>
      <ion-option value="08">August</ion-option>
      <ion-option value="09">September</ion-option>
      <ion-option value="10">October</ion-option>
      <ion-option value="11">November</ion-option>
      <ion-option value="12">December</ion-option>
    </ion-select>
    <ion-select [(ngModel)]="year">
      <ion-option *ngFor="#yr of years">{{yr}}</ion-option>
    </ion-select>
  </ion-item>

  <button (click)="resetGender()">Reset Gender</button>

  <p aria-hidden="true" padding>
    <code>gender: {{gender}}</code>
    <br>
    <code>gaming: {{gaming}}</code>
    <br>
    <code>os: {{os}}</code>
    <br>
    <code>music: {{music}}</code>
    <br>
    <code>date: {{month}}/{{year}}</code>
    <br>
  </p>

</ion-content>