
<ion-toolbar>
  <ion-title>This is the title that never ends. It just goes on and on my friend.</ion-title>
</ion-toolbar>


<ion-toolbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons start>
    <button showWhen="ios">
      <ion-icon name="contact"></ion-icon>
    </button>
    <button>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button secondary>
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Default</ion-title>
</ion-toolbar>


<ion-toolbar primary>
  <ion-buttons start>
    <button showWhen="ios">
      <ion-icon name="contact"></ion-icon>
    </button>
    <button>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button secondary>
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Primary</ion-title>
</ion-toolbar>


<ion-toolbar primary>
  <ion-buttons start>
    <button cla showWhen="ios"ss="activated">
      <ion-icon name="contact"></ion-icon>
    </button>
    <button class="activated">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button secondary class="activated">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Primary.activated</ion-title>
</ion-toolbar>


<ion-toolbar secondary>
  <ion-buttons start>
    <button solid>
      <ion-icon name="contact"></ion-icon>
    </button>
    <button solid>
      <ion-icon name="contact"></ion-icon>
      Solid
    </button>
  </ion-buttons>
  <ion-title>Secondary</ion-title>
  <ion-buttons end>
    <button solid danger>
      Help
      <ion-icon name="help-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>


<ion-toolbar secondary>
  <ion-buttons start>
    <button solid class="activated">
      <ion-icon name="contact"></ion-icon>
    </button>
    <button solid class="activated">
      <ion-icon name="contact"></ion-icon>
      Solid
    </button>
  </ion-buttons>
  <ion-title>Secondary Activated</ion-title>
  <ion-buttons end>
    <button solid danger class="activated">
      Help
      <ion-icon name="help-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>


<ion-toolbar dark>
  <ion-buttons start>
    <button outline>
      <ion-icon name="contact"></ion-icon>
    </button>
    <button outline>
      <ion-icon name="star"></ion-icon>
      Star
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button secondary outline>
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Dark</ion-title>
</ion-toolbar>


<ion-toolbar dark>
  <ion-buttons start>
    <button outline class="activated">
      <ion-icon name="contact"></ion-icon>
    </button>
    <button outline class="activated">
      <ion-icon name="star"></ion-icon>
      Star
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button secondary outline class="activated">
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Dark.activated</ion-title>
</ion-toolbar>


<ion-toolbar danger>
  <ion-buttons start>
    <button>
      <ion-icon name="contact"></ion-icon>
      Clear
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button>
      Edit
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Danger</ion-title>
</ion-toolbar>


<ion-toolbar danger>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons start>
    <button>
      <ion-icon name="star"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Danger</ion-title>
</ion-toolbar>

<ion-toolbar light>
  <ion-buttons start>
    <button>
      <ion-icon name="contact"></ion-icon>
      Clear
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button>
      Edit
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Light</ion-title>
</ion-toolbar>


<ion-toolbar light>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons start>
    <button>
      <ion-icon name="star"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Light</ion-title>
</ion-toolbar>


<ion-toolbar transparent>
  <ion-buttons end>
    <button #button1 (click)="buttonClick(button1)">
      <ion-icon name="star"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Transparent</ion-title>
  <button menuToggle right>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-toolbar>


<style>
  .toolbar {
    border-bottom: 1px solid black;
  }
</style>
