
<ion-navbar *navbar>
  <ion-title>Loading</ion-title>
</ion-navbar>

<ion-content padding>
  <button block (click)="presentLoading()" class="e2eLoadingTabsContent">Loading Content</button>
  <button block (click)="presentLoadingNav()">Loading w/ Nav</button>
</ion-content>
