<ion-navbar *navbar>
  <ion-title>Virtual Scroll</ion-title>
  <ion-buttons end>
    <button (click)="reload()">
      Reload
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>


  <ion-list [virtualScroll]="items"
            [headerFn]="headerFn">

    <ion-item-divider *virtualHeader="#header">
      Header: {{header}}
    </ion-item-divider>

    <ion-item *virtualItem="#item">
      Item: {{item}}
    </ion-item>

  </ion-list>


</ion-content>
