<div class="slides-div">
  <ion-slides [options]="myTopSlideOptions" #loopSlider (didChange)="onSlideChanged($event)" pager>
    <ion-slide *ngFor="#slide of slides" [ngClass]="slide.class">
      Loop {{ slide.name }}
    </ion-slide>
  </ion-slides>
</div>


<div class="slides-div">
  <ion-slides (didChange)="onSlideChanged($event)" pager>
    <ion-slide *ngFor="#slide of slides" [ngClass]="slide.class">
      Don't Loop {{ slide.name }}
    </ion-slide>
  </ion-slides>
</div>

<style>
  .slides-div {
    height: 50%;
    border-bottom: 1px solid #ccc;
  }

  .yellow {
    background-color: #fbeb14;
  }

  .red {
    background-color: #ED4337;
  }

  .blue {
    background-color: #89cff0;
  }
</style>
