
<ion-toolbar>
  <ion-title>Clear Input</ion-title>
</ion-toolbar>


<ion-content>


  <ion-list>

    <ion-item>
      <ion-label>Text 1:</ion-label>
      <ion-input class="e2eClearInput" [(ngModel)]="myValue" clearInput></ion-input>
    </ion-item>


  </ion-list>

</ion-content>
