
<ion-toolbar primary>
  <ion-title>Inset Focus</ion-title>
  <ion-buttons end>
    <button (click)="reload()">
      Reload
    </button>
  </ion-buttons>
</ion-toolbar>


<ion-content>

  <p>Paragraph text with a <a href="#">link</a>.</p>

  <ion-list>

    <ion-item>
      <ion-label>Text 1:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      Item with button right
      <button item-right>Button 1</button>
    </ion-item>

    <ion-item>
      <ion-label id="my-label1">Text 2:</ion-label>
      <ion-input value="value"></ion-input>
    </ion-item>

    <button ion-item>
      Button Item
    </button>

    <ion-item>
      <ion-label>Text 3:</ion-label>
      <ion-input></ion-input>
      <button clear item-right>
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label>Comments:</ion-label>
      <ion-textarea>Comment value</ion-textarea>
    </ion-item>

    <ion-item>
      <ion-icon name="globe" item-left></ion-icon>
      <ion-label>Website:</ion-label>
      <ion-input value="http://ionic.io/" type="url"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      <ion-label>Email:</ion-label>
      <ion-input value="email6@email.com" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="create" item-left></ion-icon>
      <ion-label>Feedback:</ion-label>
      <ion-textarea placeholder="Placeholder Text"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>More Info:</ion-label>
      <ion-input placeholder="Placeholder Text"></ion-input>
      <ion-icon name="flag" item-right></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Score:</ion-label>
      <ion-input value="10" type="number"></ion-input>
      <button outline item-right>Update</button>
    </ion-item>

    <ion-item>
      <ion-label>First Name:</ion-label>
      <ion-input value="Lightning"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Last Name:</ion-label>
      <ion-input value="McQueen"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Message:</ion-label>
      <ion-textarea value="KA-CHOW!"></ion-textarea>
    </ion-item>

    <ion-item>
      Item
    </ion-item>

    <ion-item>
      Item
    </ion-item>

  </ion-list>

  <ion-list radio-group>

    <ion-list-header>
      Radios
    </ion-list-header>

    <ion-item>
      <ion-label>Radio 1</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Radio 2</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-item>
      <ion-label>Bottom input 9:</ion-label>
      <ion-input value="bottom input 9"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 8:</ion-label>
      <ion-input value="bottom input 8"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 7:</ion-label>
      <ion-input value="bottom input 7"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 6:</ion-label>
      <ion-input value="bottom input 6"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 5:</ion-label>
      <ion-input value="bottom input 5"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 4:</ion-label>
      <ion-input value="bottom input 4"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 3:</ion-label>
      <ion-input value="bottom input 3"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 2:</ion-label>
      <ion-input value="bottom input 2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Bottom input 1:</ion-label>
      <ion-input value="bottom input 1"></ion-input>
    </ion-item>

  </ion-list>


</ion-content>
