<ion-toolbar>
  <ion-segment id="segment" [(ngModel)]="relationship" (change)="onSegmentChanged($event)">
    <ion-segment-button value="friends" (select)="onSegmentSelected($event)" class="e2eSegmentFriends">
      Friends
    </ion-segment-button>
    <ion-segment-button value="enemies" (select)="onSegmentSelected($event)">
      Enemies
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-toolbar>
  <ion-buttons end>
    <button>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <ion-segment [(ngModel)]="icons" secondary>
    <ion-segment-button value="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content padding>
  <div>Are we friends or enemies? <b>{{ relationship }}</b></div>

  <h4>Map mode: NgControl</h4>

  <form (submit)="doSubmit($event)" [ngFormModel]="myForm">
    <ion-segment ngControl="mapStyle" danger>
      <ion-segment-button value="active" class="e2eSegmentStandard">
        Active
      </ion-segment-button>
      <ion-segment-button value="disabled" [disabled]="isDisabled">
        Disabled
      </ion-segment-button>
      <ion-segment-button value="inactive" disabled="false">
        Inactive
      </ion-segment-button>
    </ion-segment>
  </form>

  <p>
    Map mode: <b>{{myForm.controls.mapStyle.value}}</b> -

    <span [ngSwitch]="myForm.controls.mapStyle.value">
      <span *ngSwitchWhen="'standard'">
        <b>Standard</b>
      </span>
      <span *ngSwitchWhen="'hybrid'">
        <b>Hybrid</b>
      </span>
      <span *ngSwitchWhen="'sat'">
        <b>Satellite</b>
      </span>
    </span>
  </p>

  <hr>

  <h4>Model style: NgModel</h4>

  <ion-segment [(ngModel)]="modelStyle" dark>
    <ion-segment-button value="A">
      Model A
    </ion-segment-button>
    <ion-segment-button value="B">
      Model B
    </ion-segment-button>
    <ion-segment-button value="C" class="e2eSegmentModelC">
      Model C
    </ion-segment-button>
    <ion-segment-button value="D" [disabled]="isDisabled">
      Model D
    </ion-segment-button>
  </ion-segment>

  <p>Model Style: <b>Model {{ modelStyle }}</b></p>

  <ion-segment [(ngModel)]="icons">
    <ion-segment-button value="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bookmark">
      <ion-icon name="bookmark"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <button block dark (click)="toggleDisabled()">Toggle Disabled</button>
</ion-content>

<ion-toolbar position="bottom" primary>
  <ion-segment [(ngModel)]="appType" light>
    <ion-segment-button value="paid">
      Primary
    </ion-segment-button>
    <ion-segment-button value="free">
      Toolbar
    </ion-segment-button>
    <ion-segment-button value="top" class="e2eSegmentTopGrossing">
      Light Segment
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-toolbar position="bottom">
  <ion-segment [(ngModel)]="appType" danger>
    <ion-segment-button value="paid">
      Default
    </ion-segment-button>
    <ion-segment-button value="free">
      Toolbar
    </ion-segment-button>
    <ion-segment-button value="top">
      Danger Segment
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-toolbar position="bottom">
  <ion-segment [(ngModel)]="appType" dark [disabled]="isDisabled">
    <ion-segment-button value="paid">
      Default
    </ion-segment-button>
    <ion-segment-button value="free">
      Toolbar
    </ion-segment-button>
    <ion-segment-button value="top">
      Dark Segment
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
