
<ion-toolbar>
  <ion-buttons start>
    <button [color]="isDestructive ? 'danger' : 'primary'" [outline]="isOutline">Outline</button>
  </ion-buttons>
  <ion-title>Default Buttons</ion-title>
  <ion-buttons end>
    <button [color]="isSecondary ? 'secondary' : 'primary'" [solid]="isSolid">Solid</button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding>
  <button block [solid]="isSolid">Solid</button>
  <button block [color]="isDestructive ? 'danger' : 'primary'" [outline]="isOutline">Danger (Outline)</button>
  <button block [color]="isSecondary ? 'secondary' : 'primary'"  [clear]="isClear">Secondary (Clear)</button>
  <button block [color]="myColor1" [round]="isCustom">Custom #1</button>
  <button block [color]="myColor2" [outline]="isOutline" [round]="isCustom">Custom #2 (Outline)</button>
  <button block primary light [clear]="isClear" [round]="isCustom">Multicolor (Clear)</button>
  <button block danger dark [outline]="isOutline" [round]="isCustom">Multicolor (Outline)</button>
  <button block [color]="multiColor" [outline]="isClicked" [round]="isCustom" (click)="toggle()">Multicolor Outline (Toggle)</button>
  <button block [color]="multiColor" [clear]="isClicked" [round]="isCustom" (click)="toggle()">Multicolor Clear (Toggle)</button>
  <hr/>
  <button block outline danger (click)="unify()" class="e2eButtonDynamicUnify">Unify all buttons</button>
  <button block clear danger (click)="reset()">Reset all buttons</button>
</ion-content>
