
<ion-toolbar>
  <ion-title>Raised Buttons</ion-title>
</ion-toolbar>

<ion-content padding style="text-align:center">

  <p>
    <button raised><span>Default</span></button>
    <button raised raised class="activated">Default.activated</button>
  </p>

  <p>
    <button raised outline>Outline</button>
    <button raised outline class="activated">Outline.activated</button>
  </p>

  <p>
    <button raised clear>Clear</button>
    <button raised clear class="activated">Clear.activated</button>
  </p>

  <p>
    <button raised fab style="position: relative">FAB</button>
    <button raised fab style="position: relative" class="activated">FAB</button>
  </p>

  <p>
    <button raised round>Round</button>
    <button raised round class="activated">Round.activated</button>
  </p>

  <p>
    <button raised block>Block</button>
    <button raised block class="activated">Block.activated</button>
  </p>

  <p>
    <button raised clear disabled>Clear Disabled</button>
  </p>
</ion-content>
