@import "../globals.md";

// iOS Cordova
// --------------------------------------------------

$cordova-ios-statusbar-padding:    20px   !default;


ion-navbar-section.statusbar-padding {
  height: calc(#{$toolbar-md-height} + #{$cordova-ios-statusbar-padding});
  min-height: calc(#{$toolbar-md-height} + #{$cordova-ios-statusbar-padding});
}

ion-navbar-section.statusbar-padding > .toolbar {
  padding-top: $cordova-ios-statusbar-padding;

  height: calc(#{$toolbar-md-height} + #{$cordova-ios-statusbar-padding});
  min-height: calc(#{$toolbar-md-height} + #{$cordova-ios-statusbar-padding});
}

.tab-subpage,
ion-nav > ion-page,
ion-menu {
  > .toolbar.statusbar-padding:first-child {
    padding-top: $cordova-ios-statusbar-padding;
    height: calc(#{$toolbar-md-height} + #{$cordova-ios-statusbar-padding});
    min-height: calc(#{$toolbar-md-height} + #{$cordova-ios-statusbar-padding});
  }

  > ion-content.statusbar-padding:first-child scroll-content {
    padding-top: $cordova-ios-statusbar-padding;
  }

  > ion-content.statusbar-padding:first-child[padding] scroll-content,
  > ion-content.statusbar-padding:first-child[padding-top] scroll-content {
    padding-top: calc(#{$content-md-padding} + #{$cordova-ios-statusbar-padding});
  }
}
