
<ion-tabs preloadTabs="false" (change)="onTabChange()">
  <ion-tab tabTitle="Recents" tabIcon="call" [root]="tab1Root" [rootParams]="params"></ion-tab>
  <ion-tab tabTitle="Favorites" tabIcon="star" [root]="tab2Root"></ion-tab>
  <ion-tab tabTitle="Settings" tabIcon="settings" [root]="tab3Root"></ion-tab>
  <ion-tab tabTitle="Chat" tabIcon="chatbubbles" (select)="chat()"></ion-tab>
</ion-tabs>
