<ion-navbar *navbar primary>
  <ion-segment [(ngModel)]="sort" light>
    <ion-segment-button value="all">All</ion-segment-button>
    <ion-segment-button value="favorites">Favorites</ion-segment-button>
  </ion-segment>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-buttons end>
    <button>
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <button menuToggle="right" right>
    <ion-icon name="menu"></ion-icon>
  </button>
</ion-navbar>
<ion-toolbar>
  <ion-title>I'm a toolbar</ion-title>
</ion-toolbar>

<ion-content padding>
  <div padding-bottom>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque dolor lacus, ut vehicula arcu dapibus id. Morbi iaculis fermentum blandit. Curabitur tempus, ante et vehicula tempor, urna velit rutrum massa, quis suscipit purus lacus eget est. Sed nisi nulla, tempus id dictum a, cursus ut felis. Aliquam orci magna, rutrum nec tempor ac, fermentum quis eros. Sed ullamcorper felis sit amet tristique sagittis. Nullam sed tempus mi. Morbi sit amet lacinia leo. Nunc facilisis orci id consectetur dignissim. Integer dictum consectetur enim. Vivamus auctor, turpis ut eleifend pharetra, purus magna mattis arcu, vel pharetra tellus orci eget ex. Integer blandit posuere vehicula. Ut ipsum lorem, efficitur vitae eleifend tincidunt, fermentum nec lacus. Ut nec fermentum dui.</div>

  <button block [navPush]="page2" class="e2eCordovaPage2">Go to Page 2</button>
  <button block secondary (click)="goToTabs()">Go to Tabs</button>
</ion-content>
