@import "../../globals.ios";
@import "./content";

// iOS Content
// --------------------------------------------------

$content-ios-outer-background:          #efeff4 !default;
$content-ios-padding:                   $content-padding !default;
$content-ios-margin:                    $content-margin !default;
$content-ios-has-views-background:      #000 !default;

ion-content {
  background-color: $background-ios-color;
}

.outer-content {
  background: $content-ios-outer-background;
}

ion-nav.has-views,
ion-tab.has-views {
  background: $content-ios-has-views-background;
}


// iOS Content Padding
// --------------------------------------------------

@include content-padding($content-ios-padding);


// iOS Content Margin
// --------------------------------------------------

@include content-margin($content-ios-margin);
